<title> ENTER DATA </title>

<style type="text/css">
  div { display:flex; flex-direction:column; align-items:center; border: solid 1pt; margin: 10pt 50pt; background-color: aliceblue }
</style>

<div>
  <h2> ENTER DATA </h2>
  <form method="POST" action="/GetData2" enctype="multipart/form-data">
    <p> <input type="text"   name="name"   placeholder="name"                /> </p>
    <p> <input type="text"   name="age"    placeholder="age"                 /> </p>
    <p> <input type="file"   name="file"                                     /> </p>
    <p> <input type="submit" name="submit" value="Submit" style="width:100%" /> </p>
  </form>
</div>
